<!DOCTYPE html>

<html ng-app="MyApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>        
</head>
<body>
    <script src="~/Scripts/BL/BookItem.js"></script>
    <script src="~/Scripts/BL/Contact.js"></script>
    <script src="~/Scripts/BL/Group.js"></script>
    <script src="~/Scripts/BL/Book.js"></script>
    <script>
        (function (Book) {

            Book.dump();

        })(ContactBook.Book);
    </script>
</body>
</html>
