<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Jasmine Spec Runner v2.2.0</title>

    <link rel="shortcut icon" type="image/png" href="~/Content/jasmine_favicon.png">
    <link href="~/Content/jasmine.css" rel="stylesheet" />

    <script src="~/Scripts/jasmine.js"></script>
    <script src="~/Scripts/jasmine-html.js"></script>
    <script src="~/Scripts/boot.js"></script>

    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-mocks.js"></script>

    <script src="~/Scripts/Contact.js"></script>

    <script src="~/Scripts/MyApp.js"></script>
    <script src="~/Scripts/ContactService.js"></script>
    <script src="~/Scripts/HomeCtrl.js"></script>

    <script src="~/Scripts/HomeCtrlSpec.js"></script>
</head>
<body>
</body>
</html>
