<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="MyApp">
<head>
    <title></title>

    <style>
        .field {
            margin-bottom: 1em;
        }

            .field input.ng-invalid.ng-touched {
                outline:none;
                border: 2px solid red;
            }

        .validation-message {
            color:red;
            font-weight: bold;

        }
    </style>

</head>
<body>
    <div ng-controller="HomeCtrl">

        <form name="form" novalidate>
            <div class="field">
                <div class="field-label">
                    Name:
                </div>
                <div class="field-editor">
                    <input ng-model="name" name="name" required />
                    <span ng-show="form.name.$invalid && (form.name.$touched || form.$submitted)" class="validation-message">Please specify a name</span>
                    <span ng-show="form.name.$error.strangeName && (form.name.$touched || form.$submitted)" class="validation-message">Please specify a different name</span>
                </div>
            </div>

            <div class="field">
                <div class="field-label">
                    E-Mail:
                </div>
                <div class="field-editor">
                    <input type="email" name="email" ng-model="email" />
                    <span ng-show="form.email.$invalid && (form.email.$touched || form.$submitted)" class="validation-message">Please specify a valid email</span>
                </div>
            </div>

            <div>
                <button ng-click="save()">Save</button>
            </div>
        </form>
    </div>

    <script src="angular.js"></script>
    <script src="App.js"></script>
    <script src="HomeCtrl.js"></script>
</body>
</html>
