<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="MyApp">
<head>
    <title></title>

    <style>
        [ng-cloak] {
            display: none;
        }
    </style>

</head>
<body>
    <div ng-controller="HomeCtrl">

        <input ng-model="searchStr" ng-change="search(searchStr)" />

        <ul>
            <li ng-repeat="contact in contacts">
                <span>{{::contact.name}}</span>
            </li>
        </ul>

        <button ng-click="run()">Click me</button>
    </div>

    <script src="angular.js"></script>
    <script src="App.js"></script>
    <script src="HomeCtrl.js"></script>
</body>
</html>
