<div class="group-index-view">

    <ul class="items list-group">
        <li ng-repeat="item in ctrl.items" class="list-group-item" ng-click="ctrl.itemClicked(item)">
            <span class="group" ng-if="item.isGroup"><span class="glyphicon glyphicon-book"></span> {{item.name}}</span>
            <span class="contact" ng-if="item.isContact"><span class="glyphicon glyphicon-user"></span> {{item.name}}</span>
            <span class="back-to-parent" ng-if="item.isBackToParent"><span class="glyphicon glyphicon-arrow-up"></span> {{item.name}}</span>
        </li>
    </ul>
</div>
