<!DOCTYPE html>

<html ng-app="myApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <link href="~/Content/smoothness/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    @Html.Partial("~/Views/Main/Home.cshtml")

    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/angular.js"></script>

    <script src="~/Scripts/MyApp.js"></script>
    <script src="~/Scripts/DatepickerDirective.js"></script>
    <script src="~/Scripts/HomeCtrl.js"></script>
</body>
</html>
