<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="MyApp">
<head>
    <title></title>

    <base href="/" />

    <style>
        [ng-cloak] {
            display: none;
        }
    </style>

</head>
<body>
    <div ng-controller="ContactIndexCtrl">

        <label>
            <input type="checkbox" ng-model="loadContacts" ng-change="doLoadContacts()" />
            <span>Load contacts</span>
        </label>

        <ul>
            <li ng-repeat="contact in contacts">
                <input type="checkbox" ng-model="contact.isSelected" />
                <span>{{contact.name}}</span>
            </li>
        </ul>
    </div>

    <script src="require.js"></script>
    <script src="angular.js"></script>
    <script src="App.js"></script>
    <!--<script src="ContactService.js"></script>-->
    <script src="ContactIndexCtrl.js"></script>
</body>
</html>
