<div class="home-view" ng-controller="HomeCtrl">
    <h1>Home</h1>

    Date:
    <datepicker></datepicker>

    <clock name="clock">
        <span ng-bind="footer"></span>
    </clock>

    <div>
        <button ng-click="removeZone()">Remove Zone</button>
    </div>
</div>
