
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="MyApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <base href="/" />
</head>
<body>
    <div ng-controller="HomeCtrl"> 
        <button ng-click="run()">Click me</button>
    </div>

    <script src="~/scripts/angular.js"></script>
    <script src="~/scripts/App.js"></script>
</body>
</html>
