<ul class="clock">
    <li ng-repeat="zone in ctrl.zones">
        <span class="title city" ng-bind="zone.name"></span>
        <span class="content">
            <span class="time" ng-bind="zone.time | date:'shortTime'"></span>
        </span>
        <span class="footer"></span>
    </li>
</ul>
