<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="MyApp">
<head>
    <title></title>
</head>
<body>
    <div ng-controller="HomeCtrl as ctrl">
        {{ctrl.message}}

        <div>
            <input ng-model="ctrl.searchStr" />
            <button ng-click="ctrl.search()">Search</button>
        </div>

        <ul>
            <li ng-repeat="contact in ctrl.contacts">
                <span>{{contact.name}}</span>
                <button ng-click="ctrl.remove($index)">Delete</button>
            </li>
        </ul>
    </div>

    <script src="angular.js"></script>
    <script src="App.js"></script>
    <script src="HomeCtrl.js"></script>
</body>
</html>
